@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata");;
    var remoteParam = (RemoteLimpet)Model.GetDataObject("remoteparam");
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;

    var appThemeFolder = productDataList.PortalShop.AppTheme.AppThemeFolder;
    var portalShop = productDataList.PortalShop;

    var categoryData = new CategoryLimpet(portalShop.PortalId, sessionParams.GetInt("searchcategoryid"), remoteParam.CultureCode);

}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerce/" + portalShop.AppTheme.AppThemeFolder + "/" + portalShop.AppTheme.AppVersionFolder + "/resx/")

<div class="productlistflex">

    <div class="productlist">

        <h1>
            @if (!categoryData.Exists)
            {
                @portalShop.StoreName 
            }
            else
            {
                @categoryData.Name
            }
        </h1>
        
        @RenderTemplate("SearchBanner.cshtml", "/DesktopModules/RocketThemes/rocketecommerce", productDataList.PortalShop.AppTheme.AppThemeFolder, Model, "1.0", true)

        <div id="datasection">

            <div id="datalist2" class="productgrid productgrid3">
                @{
                    var lp1 = 0;
                }
                @foreach (ProductLimpet productData in productDataList.GetArticleList())
                {
                    lp1 += 1;
                    var logoRelPath = productData.LogoRelPath;
                    if (productData.LogoRelPath == "")
                    {
                        logoRelPath = "/DesktopModules/DNNrocket/api/images/noimage2.png";
                    }
                    var productListUrl = sessionParams.PageUrl + productData.UrlTokens(portalShop.ProductDetailPageUrl);

                    <div class="product">

                        <div class="productimg">
                            <img src="@ThumbnailImageWebsiteDomainUrl(productDataList.PortalShop.EngineUrlWithProtocol,logoRelPath,300,300)" alt="@productData.Name" />
                            <!-- Rollover -->
                            <div class="productrollover">
                                <div class="productrollover-content">
                                    <div class="productrollover-actions">
                                        @{ 
                                            var modellistcount = productData.GetModelList().Count;
                                            var optionlistcount = productData.GetOptionList().Count;
                                        }
                                        @if (modellistcount == 1 && optionlistcount == 0)
                                        {
                                            <a href="javascript:void(0);" rel="nofollow" class="simplisity_click buybutton" s-return="#minicartdisplay" s-cmd="rocketecommerce_addtocart" s-fields='{"productid":"@productData.ProductId"}'>@ResourceKey("RE.addtobasket", remoteParam.CultureCode)</a>
                                        }
                                        @if (modellistcount == 1 && optionlistcount == 0 && portalShop.ProductDetailPageUrl != "")
                                        {
                                            <span>/</span>
                                        }
                                        @if (portalShop.ProductDetailPageUrl != "")
                                        {
                                            <a href="@productListUrl" class="ajaxproduct" s-cmd="rocketecommerce_productdetail" s-return='#ecommerce-tag' s-fields='{"systemkey":"rocketecommerce","template":"ProductDetail.cshtml","productid":"@productData.ProductId"}' productid='@productData.ProductId' title="@productData.Name">@ResourceKey("RE.details", remoteParam.CultureCode)</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="productcontent">
                            <h3>
                                <a href="@productListUrl" class="ajaxproduct" s-cmd="rocketecommerce_productdetail" s-return='#ecommerce-tag' s-fields='{"systemkey":"rocketecommerce","template":"ProductDetail.cshtml","productid":"@productData.ProductId","remotelanguage":"@remoteParam.CultureCode","remotecall":"True"}' productid='@productData.ProductId' title="@productData.Name">@productData.Name</a>
                            </h3>
                            <div class="w3-row">
                                @if (productData.SalePriceMinimum > 0)
                                {
                                    <div class="w3-half w3-padding">
                                        <div class="productprice" style="text-decoration:line-through;">@productData.PriceMinimumDisplay()</div>
                                    </div>
                                    <div class="w3-half w3-red w3-padding">
                                        <div class="w3-large">@productData.SalePriceMinimumDisplay()</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="w3-padding">
                                        <div class="productprice">@productData.PriceMinimumDisplay()</div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                }
            </div>

            @RenderTemplate("ProductPaging.cshtml", "\\DesktopModules\\RocketThemes\\rocketecommerce", appThemeFolder, Model, "1.0", true)

        </div>

    </div>

    <div class="productlistside">

        <!-- Cart (Include design to stop flicker on the page) -->
        <div id="minicartdisplay" class="productlistcart">       
            <h3>@ResourceKey("RE.cart", remoteParam.CultureCode)</h3>     
            <div class="w3-border-bottom w3-margin-bottom">0 @ResourceKey("RE.items", remoteParam.CultureCode)</div>
            <div class="w3-margin-bottom"><strong>@(portalShop.CurrenyDisplay(0))</strong></div>
            <a id="cartdisplay" class="w3-button w3-light-grey simplisity_click " s-cmd="rocketecommerce_cartlist" s-return='#ecommerce-tag' s-fields='{"systemkey":"rocketecommerce","template":"cartlist.cshtml"}'><i class='fa fas fa-shopping-cart'></i>&nbsp;@(ResourceKey("RE.viewcart", remoteParam.CultureCode))</a>
        </div>

        <div class="productlistcat">
            @RenderTemplate("CategorySideMenu.cshtml", "/DesktopModules/RocketThemes/RocketEcommerce", productDataList.PortalShop.AppTheme.AppThemeFolder, Model, "1.0", true)
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {


        // PRODUCT EVENTS
        // View product detail and add to url, to make SEO friendly
        $('.ajaxproduct').unbind("click");
        $('.ajaxproduct').click(function (event) {
            event.preventDefault();

            // add to browser bar and history
            var stateObj = { productid: $(this).attr("productid") };
            history.pushState(stateObj, "Title", $(this).attr("href"));

            simplisity_callserver($(this))

        });

        minicartdisplay();

        firstLoadMove();
    });



</script>
